# IntelliJ
.idea/
*.iml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

app/release

**/Constants.*

.gradle
/local.properties
gradle.properties

fastlane/report.xml

app/google-services.json

